@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Vanilla Ravioli';
    src: url('./assets/fonts/VanillaRavioli_Demo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HolidayMDJP05';
    src: url('./assets/fonts/HolidayMDJP05.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RiiTegakiFude';
    src: url('./assets/fonts/RiiT_F_old.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* ============ NAVBAR ============ */
@keyframes slideFromBottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideFromTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.slide-from-bottom {
  animation: slideFromBottom 0.3s ease-out forwards;
}

.slide-from-top {
  animation: slideFromTop 0.3s ease-out forwards;
}

/* ============ CARD FLIPPING ANIMATION ============ */
@layer components {
  .flip-container {
    perspective: 1500px;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .flip-card-front,
  .flip-card-back {
    backface-visibility: hidden;
    transition: transform 0.8s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .flip-card-front {
    z-index: 2;
    transform: rotateY(0deg);
  }

  .flip-container:hover .flip-card-front {
    transform: rotateY(-180deg);
  }

  .flip-card-back {
    transform: rotateY(180deg);
    z-index: 1;
  }

  .flip-container:hover .flip-card-back {
    transform: rotateY(0deg);
  }
}

/* ============ PENCIL STYLE ============ */

.pencil-style {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #ccc, #0d4628, #ccc);
}

.pencil-style-white {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #ffffff, #e7f8ef, #fffbfb);
}

.pencil-style-left-to-right {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #0d4628, #7f8c8d, #ccc);
}

.pencil-style-right-to-left {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to left, #0d4628, #7f8c8d, #ccc);
}

.white-pencil-style-left-to-right {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #ffff, #cccccc, #928e8e);
}

.white-pencil-style-right-to-left {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to left, #ffff, #cccccc, #928e8e);
}

/* ============ NEWS ITEM ============ */

.news-item {
  overflow: hidden;
  position: relative;
}

.news-item:after {

  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7));
  border-radius: 2rem; 
  z-index: 1; 
}

.news-item p, .news-item h2 {
  position: absolute;
  z-index: 2; 
}

/* ============ TEXT FIELD ERROR SHAKE HANDLER ============ */
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
  20%, 40%, 60%, 80% { transform: translateX(10px); }
}


.reservation-list {
  max-height: 100rem; 
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;  
  scrollbar-width: none;  
}